# Byte-code files
*.pyc
__pycache__/

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info
.installed.cfg
*.egg

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# SQLite database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
